<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="TheraPea"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheraPea"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".features.landing.LandingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.auth.LoginActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="login"
                    android:scheme="therapea" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.auth.RegisterActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="register"
                    android:scheme="therapea" />
            </intent-filter>
        </activity>

        <activity
            android:name=".features.home.HomeActivity"
            android:exported="false" />

        <activity
            android:name=".features.home.DoctorHomeActivity"
            android:exported="false" />

        <activity
            android:name=".features.emergencyMap.EmergencyMapActivity"
            android:exported="false" />

        <activity
            android:name=".features.admin.AdminApprovalsActivity"
            android:exported="false" />

        <activity
            android:name=".features.appointments.AppointmentsActivity"
            android:exported="false" />

        <activity
            android:name=".features.checkout.CheckoutActivity"
            android:exported="true"
            android:launchMode="singleTask">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="therapea"
                    android:host="checkout" />
            </intent-filter>

        </activity>

        <activity
            android:name=".features.messages.ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".features.auth.ReferenceActivity"
            android:exported="false" />

        <activity
            android:name=".features.assessment.AssessmentActivity"
            android:exported="false" />
        <activity
            android:name=".features.home.NotificationsActivity"
            android:exported="false" />

        <activity
            android:name=".features.assessment.AssessmentHistoryActivity"
            android:exported="false" />

        <activity
            android:name=".features.assessment.AssessmentResultActivity"
            android:exported="false" />

        <activity
            android:name=".features.messages.MessagesActivity"
            android:exported="false" />

        <activity
            android:name=".features.progress.ProgressActivity"
            android:exported="false" />

        <activity
            android:name=".features.map.FindTherapistActivity"
            android:exported="false" />

        <activity
            android:name=".features.therapists.TherapistProfileActivity"
            android:exported="false" />

        <activity
            android:name=".features.therapists.PatientsActivity"
            android:exported="false" />

        <activity
            android:name=".features.profile.ProfileActivity"
            android:exported="false" />

        <activity
            android:name=".features.settings.SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".features.video.VideoRoomActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />

    </application>

</manifest>